.title{
    color: #752b58;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    top:50%;
    width:50%;
}

.table {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.locInput{
    /*margin: 0 auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-150px;
}

.resultLoc{
    position: absolute;
    top: 30%;
    left: 47.5%;
    font-size: 50px;
}

.iconLoc{
    position: absolute;
    top: 33.5%;
    right: 36.5%;

}
.descLoc{
    position: absolute;
    top:38%;
     width: 100%;
    left: 45%;
    font-size: 40px;

}
